body{
	margin:0;
}


header.component{
	position:relative;
	padding-top: 200px;
}
header .safe{
	position:relative;
	background-color: rgba(0, 0, 0, 0.65);
	color:white;
	width:100%;
	max-width: 100%;
	padding: 2em 0;
}
header .safe > div{
	max-width:80%;
	width:700px;
	margin:auto;
}
header.component .safe > :first-child{
	font-family: rocky, serif;
	font-size: 28pt;
	margin-bottom: .5em;
}
header.component img{
	position:absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width:100%;
	height:100%;
}

.component{
	font-family: freight-sans-pro, sans-serif;
	font-size: 18pt;
}
section.component img{
	width:100%;
	margin-top:1em;
}
.safe{
	max-width: 80%;
	margin: auto;
	width: 700px;
}
section.component .safe > :first-child{
	margin-top:1em;
}
.caption{
	font-size: 14pt;
}
.date{
	margin:1em auto;
	font-weight: 600;
}
.tags{
	margin-right:1em;
	padding:0.2em 0.5em;
	background-color: black;
	color:white;
	font-size: 14pt;
}
.tags:hover{
	background-color: #4f46eb;
	transition:0.2s;
}
.teaser{
	font-weight: 600;
}

.line{
	background-color: black;
	width:100%;
	margin:1em 0;
	height:2px;
}

footer.component .author div{
	display:inline-flex;
	align-items: center;
	font-size:18pt;
}
footer.component .author div img{
	height:100%;
	width: 100px;
	margin-right: 1em
}

footer.component{
	font-size: 14pt;
}
footer.component .related ul{
	width:100%;
	display:flex;
	list-style: none;
	padding:0;
	font-size:15pt;
	overflow:hidden;
	overflow-x: scroll;
}
footer.component .related li{
	margin-bottom:1em;
	min-width:300px;
	display:block;
	flex-grow: 1 1 auto;
	margin-right:1em;
}
footer.component .related li div{
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
footer.component .related li p{
	flex-grow: 1;
	padding:0.5em;
	margin-bottom: 0;
}
footer.component .related li p:hover{
	color:#4f46eb;
	transition:0.2s;
}

footer.component .related li img{
	width:100%;
	height:200px;
	object-fit: cover;
}
/*@media (min-width: 840px){
	footer.component .related li{
		margin-top:0;
		display:inline-flex;
		max-width:30%;
		margin-right: 1em;
		object-position: center;
	}
}*/

