body{
	margin:0;
	background-color:black;
}
.line{
	background-color: white;
	width:100%;
	margin:1em 0;
	height:2px;
}

#top{
	background-color:black;
	padding:0.5em 1.5em;
	position:fixed;
	width:100%;
	top:0;
	font-family: essonnes-display, serif;
	font-size:25pt;
}
.desktop{
	top:-2em !important;
	transition:0.2s;
}
a{
	text-decoration: none;
	color:white;
}
a:hover{
	color:#FFD700;
}

.mainnav{
	margin:0;
	padding:0;
	display:inline-flex;
}
.mainnav li{
	list-style-type: none;
	color:white;
	font-family: work-sans, sans-serif;
	font-size: 18pt;
	padding:0 1em;
	position:relative;
}
.subnav{
	position:absolute;
	padding:0.5em 1em;
	display:none;
	background-color: black;
	width:100vw;
}
.subnav li{
	display:block;
	padding:0;
}
.mainnav li:hover .subnav{
	display:block;
}
.mainnav li:hover > :first-child{
	color:#FFD700;
}
.fa.fa-bars{
	display:none;
	color:white;
}


@media(max-width: 420px){
	.mainnav{
		max-height:0;
		visibility: hidden;
		opacity: 0;
      	transition: opacity 0.3s, visibility 0.3s, transform 0.3s, max-height 0.3s;
      	transform: translateY(-5em);
	}
	.mainnav.menu-is-open{
		max-height: 100vh;
		opacity: 1;
	    visibility: visible;
	    transform: translateY(0);
	}
	#top{
		font-size: 20pt;
		padding:0;
	}
	#top > div{
		display:inline-flex;
		justify-content: space-between;
		width:100%;
		padding: 0.5em 1em;
		box-sizing: border-box;
	}
	.fa.fa-bars{
		display: inline;
	}
	.fa-bars.menu-is-open{
		color:#FFD700;
		transition: 0.2s;
	}
	#arrow.menu-is-open{
		opacity: 0;
	}
	.mainnav{
		display:block;
	}
	.desktop{
		top:0 !important;
	}
	.mainnav > .expandable{
		padding:1.5em 1em;
		border-top: 2px solid white;
		transition: padding 0.2s;
	}
	.mainnav > .expandable.other{
		padding: 0.5em 1em;
		transition: padding 0.2s;
	}
	.expandable.expanded > ul{
		display: block;
		position: static;
	}
	.expandable.expanded > ul > li{
		padding:0.5em 0;
	}
	.expandable.expanded > a{
		color:#FFD700;
	}
}

.component{
	font-family: work-sans, sans-serif;
	font-size: 18pt;
	color:white;
	width:50%;
	margin:auto;
	margin-top:5em;
}
@media(max-width: 840px){

	.component{
		width:70%;
	}
}
@media(max-width: 420px){
	.component{
		width:80%;
		font-size: 14pt;
		line-height: 20pt;
	}
}

#bg{
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	object-fit: cover;
	z-index: -1;
	opacity:1.0;
	transition:0.2s;
}
#gradient{
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7) 8%);
}
#arrow{
	color:white;
	text-align: center;
	width:100%;
	position:fixed;
	bottom:0%;
	font-size:35pt;
	opacity:1.0;
	transition:0.2s;
}
#cover{
	background-color:rgba(0,0,0,0.7);
	width:100%;
	padding: 3em 0;
	margin-top:34em;
	transition:0.2s;
}
header.component{
	width:80%;
	margin-top:0;
}
header.component .safe > :first-child{
	font-family: essonnes-display, serif;
	letter-spacing: 0.5pt;
	text-align: center;
	font-size:30pt;
	margin-bottom: 0.5em;
}
header.component .safe > :last-child{
	width:63%;
	margin:auto;
}

@media(max-width: 750px){
	#cover{
		margin-top:5em;
	}
	header.component .safe > :last-child{
		width:88%;
		margin-top:2em;
	}
}
@media(max-width: 420px){
	#cover{
		margin-top:20em;
	}
	header.component{
		width:80%;
	}
	header.component .safe > :first-child{
		font-size:22pt;
		text-align: left;
		line-height: 30pt;
	}
	header.component .safe > :last-child{
		width:100%;
	}
}

section.component .safe div{
	margin-top: 1em;
}
.date{
	font-weight: bold;
}
.teaser{
	font-weight: bold;
}
.source{
	padding:0.3em 0.5em;
	background-color: white;
	color:black;
	text-decoration: none;
}
.source:hover{
	background-color: rgba(0,0,0,0.6);
	color:white;
	transition:0.2s;
}
.tags{
	margin-right: 1em;
}

.author div{
	display:inline-flex;
	align-items: center;
}
.author div img{
	width: 100px;
	margin-right: 1em
}
.author > :last-child{
	font-size: 12pt;
}

.fa-caret-right{
	position:absolute;
	right: -5%;
	bottom: 14%;
	font-size: 100pt;
	opacity: 0.0;
	transition: 0.2s;
}

footer.component .related{
	margin-bottom: 3em;
	position:relative;
}

footer.component .related ul{
	width:100%;
	display:flex;
	list-style: none;
	padding:0;
	font-size:15pt;
	overflow:hidden;
	overflow-x: scroll;
}
footer.component .related ul:hover + .fa-caret-right{
	opacity: 1.0;
	transition: 0.2s;
}
footer.component .related li{
	margin-bottom:1em;
	min-width:300px;
	max-width:300px;
	display:block;
	flex-grow: 1 1 auto;
	margin-right:1em;
}
footer.component .related li div{
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
footer.component .related li p{
	flex-grow: 1;
	background-color: rgba(0,0,0,0.6);
	padding:0.5em;
	margin-bottom: 0;
}
footer.component .related li p:hover{
	background-color: white;
	color:black;
	transition:0.2s;
}

footer.component .related li img{
	width:100%;
	height:200px;
	object-fit: cover;
}
/*@media (min-width: 1300px){
	footer.component .related ul{
		display:flex;
		flex-wrap: wrap;
		margin-right:-2%;
	}
	footer.component .related li{
		min-width:300px;
		width:48%;
		display:block;
		flex-grow: 1 1 auto;
		margin-right:auto;
	}
	footer.component .related li div{
		height:100%;
		display:flex;
		flex-direction: column;
		justify-content: space-between;
	}
	footer.component .related li p{
		flex-grow: 1;
	}
	footer.component .related li img{
		position:relative;
		bottom:0;
	}
}*/