<!DOCTYPE html>
<html>

<head>
	<title>News Story Template...3?!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="styles/stylesBg.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/lwo2pua.css">
	<style>[v-cloak] { display: none; }</style>
</head>

<body>

	<div id="news-template" v-cloak>
      
      <!-- Main Story -->
    <header class="component">
    	<img id="bg" v-bind:src="story.image.url"> 
    	<div class="safe">
	    	<div>{{ story.title }}</div>
		    <div>{{ story.subtitle }}</div>
    	</div>   
  	</header>
    
    <section class="component">
    	<div class="safe">
	    	<div class="caption">{{ story.image.caption }}
	        <a class="source" v-bind:href="story.source.url">{{ story.source.name }}</a></div>
	    	<div class="date">{{ story.date }}</div>
		    <div><span v-for="tag in story.tags" class="tags">{{ tag }}</span></div>

		    <div class="line"></div>

		</div>
    </section>



    <section class="component">
    	<div class="safe">
    		<span class="teaser" v-html="story.teaser"></span>
        	<span v-html="story.content"></span>
    	</div>
    </section>

    <!-- Related Stories-->
    <footer class="component">
    	<div class="safe">

    		<div class="line"></div>

            <div class="author">
                <div>
                    <img src="assets/default.png">
                    <p>Written by [Author]</p>
                </div>
                <p>Author description goes here</p>
            </div>

            <div class="line"></div>

<!--             <div>
                <a class="source" v-bind:href="story.source.url">{{ story.source.name }}</a></div>
                <div style="margin-top: 1em;"><span v-for="tag in story.tags" class="tags">{{ tag }}</span></div>
            </div> -->

    		<aside class="related">
		        <h2>Related Stories (stories with similar tags)</h2>
		        <ul>
		        	<li v-for="relatedStory in relatedStories">
		        	<div v-on:click="load(relatedStory)">
		            <p>{{ relatedStory.title }}</p>
		            <img v-bind:src="relatedStory.image.url">
		        	</div>
		        	</li>
		      	</ul>
	    	</aside>

            <aside class="related">
                <h2>More From This Site</h2>
                <ul>
                    <li v-for="relatedStory in relatedStories">
                    <div v-on:click="load(relatedStory)">
                    <p>{{ relatedStory.title }}</p>
                    <img v-bind:src="relatedStory.image.url">
                    </div>
                    </li>
                </ul>
            </aside>
    	</div>
    </footer>

      <!-- Useful debugging info, you can comment this section out when you don't need it. -->
      <!-- <pre>The story object: {{ story | json }}</pre>
      <pre>The relatedStories array: {{ relatedStories | json }}</pre> -->

    </div>

    <!-- Scripts here are what load the Vue library, and the actual story content. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://abesiemsen.github.io/layout2020spring-resources/projects/news-story-template/data.js"></script>
    <script>
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
          if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            document.getElementById("bg").style.opacity = "0.3";
            document.getElementById("bg").style.transition = "0.2s";
          } else {
            document.getElementById("bg").style.opacity = "0.5";
            document.getElementById("bg").style.transition = "0.2s";
          }
        }
    </script>



</body>

</html>